/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .sneakers-navbar {
  display: inline;
 }

 .sneakers-list li {
  display: inline;
 }

 .nav-links > a  {
  text-decoration: none;
  color: black;
 }

.card {
  transition: transform ease 400ms;
}

 .card:hover {
  transform: translate(0, -10px);
 }

 #user_first_name {
  width: 100%;
 }

 #user_last_name {
  width: 100%;
 }

 #user_email {
  width: 100%;
 }

 #user_password {
  width: 100%;
 }

 #user_password_confirmation {
  width: 100%;
 }



 .has-bg-img {
  position: relative;
}

.bg-img {
  position: relative;
  height: 800px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}
